@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue-Regular.eot');
	src: url('fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-Regular.woff2') format('woff2'), url('fonts/BebasNeue-Regular.woff') format('woff'), url('fonts/BebasNeue-Regular.ttf') format('truetype'), url('fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
}

.detailsContainer {
	width: 100%;
	height: 100%;
	display: none;
}

.innerDetails {
	width: calc(100% - 100px);
	min-height: calc(100% - 100px);
	background: #fff;
	display: flex;
	flex-direction: column;
	align-content: stretch;
	flex-grow: 1;
	margin-left: 50px;
	margin-bottom: 50px;
	top: 50px;
	position: relative;
}

.movieImage {
	background-image: url('images/background.jpg');
	height: 300px;
	background-position: center center;
	background-size: cover
}

.contentDetails {
	width: calc(100%-100px);
	flex-grow: 1;
	margin: 50px;
	margin-bottom: 30px;
}

.buttonDetails {
	height: auto;
	width: 100%;
	background: white;
}

.button {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background-color: #E50914;
	border: none;
	color: white;
	font-size: 29px;
	line-height: 29px;
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 18px;
	font-weight: 300;
}

.button:hover {
	background-color: #f6121d;
}

.buttonDetails .button {
	width: calc(100% - 100px);
	margin-left: 50px;
	margin-bottom: 50px;
}

h2 {
	font-family: 'Bebas Neue';
	color: #090C15;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	font-size: 80px;
	line-height: 80px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.subInfos {
	margin-top: 20px;
	font-size: 24px;
	line-height: 36px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.titleSub {
	width: 300px;
	font-weight: 700;
	text-transform: uppercase;
	color: #221f1f;
}

.wrapper {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #221f1f;
}

.innerWrapper {
	display: flex;
	/* use the flex model */
	min-height: 100%;
	flex-direction: column;
	width: calc(100% - 100px);
	min-height: calc(100% - 50px);
	margin-left: 50px;
	top: 50px;
	position: relative;
}

.link{
	position: relative;
	height:100%;
}

.link a{
	display: inline-block;
}

.externaLink{
	width:80px;
	height:80px;
	border-radius: 360px;
	background-color: #E50914;
	position: absolute;
	right: 40px;
	bottom:-40px;
}

.link a:hover .externaLink{
	background-color: #f6121d;
}

.externaLink img{
	position: absolute;
 left: 50%;
 top: 45%;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 max-width:50%;
}

h1 {
	font-family: 'Bebas Neue';
	font-weight: normal;
	font-style: normal;
	color: white;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
	font-size: 144px;
	line-height: 144px;
	flex: 1;
}

a {
	color: white;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-decoration: none;
	font-weight: 300;
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
	.subInfos {
		font-size: 20px;
		line-height: 32px;
	}
	h1 {
		font-size: 124px;
		line-height: 124px;
	}
	h2 {
		font-size: 84px;
		line-height: 84px;
	}
	.titleSub {
		width: 200px;
	}
}

@media only screen and (max-width: 630px) {
	h1 {
		font-size: 104px;
		line-height: 104px;
	}
}

@media only screen and (max-width: 535px) {
	.subInfos {
		font-size: 20px;
		line-height: 32px;
	}
	h2 {
		font-size: 64px;
		line-height: 64px;
	}
	.titleSub {
		width: 150px;
	}
	.movieImage {
		height: 180px;
	}
	.contentDetails {
		width: calc(100%-60);
		margin: 30px;
	}
	.buttonDetails .button {
		width: calc(100% - 60px);
		margin-left: 30px;
		margin-bottom: 30px;
	}
	.innerDetails {
		width: calc(100% - 60px);
		min-height: calc(100% - 60px);
		margin-left: 30px;
		margin-bottom: 30px;
		top: 30px;
	}
	.subInfos {
		margin-top: 10px;
	}
	.innerWrapper {
		width: calc(100% - 60px);
		min-height: calc(100% - 30px);
		margin-left: 30px;
		top: 30px;
	}
	a {
		margin-bottom: 30px;
	}
	h1 {
		font-size: 84px;
		line-height: 84px;
	}

	.externaLink{
		width:60px;
		height:60px;
		right: 20px;
		bottom:20px;
	}

}

@media only screen and (max-width: 415px) {
	h1 {
		font-size: 64px;
		line-height: 64px;
	}
}

@media only screen and (max-width: 380px) {
	.contentDetails {
		width: calc(100%-40px);
		margin: 20px;
	}
	.innerDetails {
		width: calc(100% - 40px);
		min-height: calc(100% - 40px);
		margin-left: 20px;
		margin-bottom: 20px;
		top: 20px;
	}
	.subInfos {
		font-size: 16px;
		line-height: 24px;
	}
	.titleSub {
		width: 120px;
	}
	h2 {
		font-size: 44px;
		line-height: 44px;
	}
	.button {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		line-height: 20px;
		padding-top: 20px;
		padding-bottom: 18px;
	}
	.innerWrapper {
		width: calc(100% - 40px);
		min-height: calc(100% - 20px);
		margin-left: 20px;
		top: 20px;
	}
	a {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.buttonDetails .button {
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

.loader {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background-color: #000;
	opacity: 0.9;
	display: none;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 auto;
	top: 50%;
}

.double-bounce1,
.double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #E50914;
	opacity: 0.6;
	position: absolute;
	z-index: 10001;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%,
	100% {
		-webkit-transform: scale(0.0)
	}
	50% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bounce {
	0%,
	100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	50% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}
